{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width,
    initial-scale=1.0, shrink-to-fit=no">
     <title>REXSITE</title>
    <link href="{% static 'rexsite/styles.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'rexsite/app.js' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container.fluid">
   <nav class="navbar">
    <div class="navbar_container">

        <img src="{% static 'rexsite/rex2.png' %}" id="rex">
        <h1 id="navbar_logo">REXSITE</h1>

        <div class="navbar_toggle" id="mobile-menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>

        <ul class="navbar_menu">

            <div id="signin">

            <li>
                <a href="{% url 'logout' %}" class="buttonsign"> Logout </a>
                
            </li>

            </div>
        </ul>

    </div>
    </nav>

    <!--- background --->
    <div class="first"></div>
    <!---- reserve section --->

    <section class = "banner">

      <h2 id="welcome">Welcome {{ request.user.first_name }}! Please reserve your court!</h2>

        <div class="h-100 d-flex justify-content-center align-items-">
            <div class="card_content">
                <h3 id="card_title">Reservation</h3>
                <form method="POST" action="{% url 'reserve'%}">
                    {% csrf_token %}

                    <div class="form_row">

                        <div>{{ message }}</div>

                        <select class="custom-select" name="court">
                            <option value="day"></option>
                            <option value="Minne">Minnehaha Park</option>
                            <option value="Maitland Community Park">Maitland Community Park</option>
                            <option value="hill">Hill Rec Park</option>
                        </select>

                        <input name = "day" id="datefield" class="custom-select" type='date' min='1899-01-01' max='2000-13-13' >
                        <script src="{% static 'rexsite/app.js' %}"></script>
                        </input>

                        <input class="custom-select" type="time" name="starttime">
                        <input class="custom-select" type="time" name="endtime">

                      <div>
                    <input type="submit" class="buttonsign" value="SUBMIT">
                     </div>

                </form>
            </div>
        </div>
        

    </section>



    <!-- calendar section--->
    <ul>
        {% for reservation in Reservations %}
            <li>Reservation {{ reservation.firstname }}</li>
        {% endfor %}

    </ul>

    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</div>
</body>
</html>